:root {
    --color-primary: #b2ca01;
    --color-secundary: #05418b;
    --color-third: #009bd8;
}

.bg-primary {
    background: var(--color-primary) !important;
}

.bg-secundary {
    background: var(--color-secundary) !important;
}

.navbar-vertical.navbar-expand-xs .navbar-collapse {
    height: auto;
}

.navbar-vertical .navbar-brand-img,
.navbar-vertical .navbar-brand>img {
    max-height: 100%;
    max-width: 70%;
}

.sidenav .navbar-brand {
    padding: 0rem 2rem;
}

.bg-gradient-primary {
    background-image: linear-gradient(310deg, var(--color-primary), var(--color-primary));
}

.navbar-vertical .navbar-nav>.nav-item .nav-link.active .icon {
    background-image: linear-gradient(310deg, var(--color-primary), var(--color-primary));
}

.text-gradient.text-info {
    background-image: linear-gradient(310deg, var(--color-primary), var(--color-primary));
}

.bg-gradient-info {
    background-image: linear-gradient(310deg, var(--color-primary), var(--color-primary));
}

.bg-gradient-dark {
    background-image: linear-gradient(310deg, var(--color-secundary), var(--color-secundary));
}

.text-message-validation {
    font-size: 0.7rem;
}

.page-item.active .page-link {
    background-color: var(--color-secundary);
    border-color: var(--color-third);
    color: #fff;
    z-index: 3;
}

.accordion-flush .accordion-item .accordion-button {
    border-radius: 15px;
    background-color: #0000005e;
    color: white;
}

.form-group {
    margin-bottom: 0.5rem;
}

.form-label,
label {
    color: #344767;
    font-size: .75rem;
    font-weight: 700;
    margin-bottom: 0.1rem;
    margin-left: 0.25rem;
}

body {
    font-weight: 400;
    line-height: 1;
}

.text-secondary {
    color: black !important;
}

.btn-check:active+.btn-outline-primary,
.btn-check:checked+.btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
    background-color: var(--color-secundary);
    border-color: var(--color-secundary);
    color: #fff;
}

.btn-outline-primary {
    border-color: var(--color-primary);
    color: var(--color-primary);
}

.btn-outline-primary:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: #fff
}

.alert-primary {
    background-image: none !important;
}

.alert-success {
    background-image: none !important;
}

.alert-warning {
    background-image: none !important;
}

.alert-danger {
    background-image: none !important;
}

.form-control::file-selector-button {
    -webkit-margin-end: .75rem;
    background-color: var(--color-secundary);
    border: 0 solid;
    border-color: inherit;
    border-inline-end-width: 1px;
    border-radius: 0;
    color: #fff;
    margin: -.5rem -.75rem;
    margin-inline-end: .75rem;
    padding: .5rem .75rem;
    pointer-events: none;
    transition: all .15s ease-in
}
