:root {
    --color-primary: #b2ca01;
    --color-secundary: #05418b;
    --color-third: #009bd8;
}

.bg-background-secundary {
    background: var(--color-secundary);
    color: white;
}

.bg-gradient-dark {
    background-image: linear-gradient(310deg, #141727, #3a416f);
}
.error {
    color: red;
    font-size: 0.7rem;
}

.text-message-validation {
    color: red;
    font-size: 0.7rem;
}

.text-sm {
    font-size: 0.7rem !important;
}

.form-control::file-selector-button {
    -webkit-margin-end: 0.75rem;
    background-color: var(--color-secundary);
    border: 0 solid;
    border-color: inherit;
    border-inline-end-width: 1px;
    border-radius: 0;
    color: #fff;
    margin: -0.5rem -0.75rem;
    margin-inline-end: 0.75rem;
    padding: 0.5rem 0.75rem;
    pointer-events: none;
    transition: all 0.15s ease-in;
}
